* {
  scroll-behavior: smooth;
}

.app {
  /* background-color: #202c33; */
  background-color: #101a20;
  color: white;
}

::-webkit-scrollbar {
  width: 8px;
}

/* ::-webkit-scrollbar-track {
  background: black;
} */

::-webkit-scrollbar-thumb {
  background: rgba(199, 199, 199, 0.439);
  border-radius: 10px;
}
